.filmes__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--cor-de-fundo-secundaria);
    display: flex;
    align-items: center;
    width: 60%;
    margin: 2em;
    border-radius: 0.5em;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    padding: 0 2em 0 0;
}

.card__imagem {
    margin: 0 2em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.card__imagem img {
    width: 139px;
    height: 139px;
    object-fit: cover;
    border-radius: 50%;
}

.card__titulo {
    display: grid;
    align-items: center;
    margin: 3em;
    grid-template:
        "titulo titulo"
        "nota favoritar" ;
}

.card__titulo-filme {
    margin-bottom: 1em;
    text-align: start;
    grid-area: titulo;
}

.card__nota {
    grid-area: nota;
}

.card__favorito {
    grid-area: favoritar;
    background: var(--cor-de-fundo-secundaria);
    border: 0;
}

.favorito-botao__imagem {
    width: 24px;
    height: 24px;
    background-image: url("../img/Heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.card__favorito-botao:checked~.favorito-botao__label>.favorito-botao__imagem {
    background-image: url("../img/Heart-filled.svg");
}

.card__favorito-botao{
    display: none;
}

.card__favorito span {
    color: var(--branco);
    font-family: var(--fonte);
    font-size: 18px;
    font-weight: 500;
}

.card__nota,
.card__nota img,
.favorito-botao__imagem {
    margin-right: .8em;
}

.card__nota,
.card__favorito {
    display: flex;
    align-items: center;
}